[submodule "rust/hashbrown"]
	path = rust/hashbrown
	url = git@ssh.github.com:rust-lang/hashbrown.git
[submodule "rust/bytes"]
	path = rust/bytes
	url = git@ssh.github.com:tokio-rs/bytes.git
[submodule "rust/yew"]
	path = rust/yew
	url = git@ssh.github.com:yewstack/yew.git
[submodule "rust/salvo"]
	path = rust/salvo
	url = git@ssh.github.com:lazyanubis/salvo.git
[submodule "rust/stable-structures"]
	path = rust/stable-structures
	url = git@ssh.github.com:dfinity/stable-structures.git
[submodule "rust/candid"]
	path = rust/candid
	url = git@ssh.github.com:dfinity/candid.git

[submodule "flutter/packages"]
	path = flutter/packages
	url = git@ssh.github.com:flutter/packages.git
